%nav.navbar.navbar-dark.bg-inverse
  .navbar-header
    =link_to t(:home_page),root_path,class: 'navbar-brand',id: 'link-to-homepage'
  %ul.nav.navbar-nav
    %li.nav-item
      =link_to Person.model_name.human(count: 2).capitalize,people_path,class:'nav-link'
    %li.nav-item
      =link_to GovernmentOffice.model_name.human(count: 2).capitalize,government_offices_path,class:'nav-link'
    %li.nav-item
      =link_to Organisation.model_name.human(count: 2).capitalize,organisations_path,class:'nav-link'
    %li.nav-item
      =link_to Meeting.model_name.human(count: 2).capitalize,meetings_path,class:'nav-link'
    %li.nav-item
      =link_to Hospitality.model_name.human(count: 2).capitalize,hospitalities_path,class:'nav-link'
    %li.nav-item
      =link_to Gift.model_name.human(count: 2).capitalize,gifts_path,class:'nav-link'
    %li.nav-item
      =link_to Travel.model_name.human(count: 2).capitalize,travels_path,class:'nav-link'
    %li.nav-item.dropdown#docs
      =link_to '#',class: 'nav-link dropdown-toggle', 'data-toggle'=>'dropdown' do
        = t('documentation')
        %span.caret
      .dropdown-menu
        =link_to 'Api Docs',api_v1_docs_path,class: 'dropdown-item'
        =link_to 'Swagger Docs',swagger_docs_path,target: '_blank',class: 'dropdown-item'
  %ul.nav.navbar-inline.pull-xs-right
    %li.nav-item.dropdown#flags
      =link_to '#',class: 'nav-link dropdown-toggle', 'data-toggle'=>'dropdown' do
        = image_tag("#{extract_locale_key}.png")
        = t("countries.#{extract_locale_key}")
        %span.caret
      .dropdown-menu
        - I18n.available_locales.each do |locale_key|
          =link_to url_for_locale(locale_key),{id: "link_to_#{locale_key}",class: 'dropdown-item'} do
            = image_tag("#{locale_key}.png")
            = t("countries.#{locale_key}")
