%h1= @type_class.model_name.human(count: 2).capitalize

%table.table.table-inverse.table-striped
  %thead
    %tr
      %th{width: '10%'} Date
      -case @type
        -when 'Meeting','Travel'
          %th Purpose
        -when 'Hospitality'
          %th Type of hospitality
        -when 'Gift'
          %th Gift
          %th Value
      %th Department
      %th Organisation 
      %th

  %tbody
    - @means_of_influences.decorate.each do |means_of_influence|
      %tr
        %td= means_of_influence.date_string
        -case @type
          -when 'Meeting','Travel'
            %td= means_of_influence.purpose
          -when 'Hospitality' 
            %td= means_of_influence.type_of_hospitality
          -when 'Gift'
            %td= means_of_influence.gift
            %td= means_of_influence.value
        %td= means_of_influence.government_side
        %td= means_of_influence.organisation_side
        %td= link_to 'Show', means_of_influence

